services:

  # MySQL for auth service
  mysql-auth:
    image: mysql:8
    container_name: mysql_auth
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: authdb
    ports:
      - "3307:3306"
    volumes:
      - mysql_auth_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
    restart: always

  # MongoDB for student-service
  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: studentsdb
    volumes:
      - mongo_data:/data/db
    restart: always

  auth-service:
    build: ./auth-service
    container_name: auth_service
    ports:
      - "8081:8081"
    depends_on:
      mysql-auth:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql_auth:3306/authdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    restart: always

  student-service:
    build: ./Student_Service
    container_name: student-service
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      PORT: 4000
      NODE_ENV: production
      MONGO_URI: mongodb://mongo:27017/studentsdb
    restart: always

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8082:8082"
    depends_on:
      - auth-service
      - student-service
    environment:
      AUTH_SERVICE_URL: http://auth-service:8081
      STUDENT_SERVICE_URL: http://student_service:4000
    restart: always

volumes:
  mysql_auth_data:
  mongo_data:
